@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* ---------------------------------------- Globals ---------------------------------------- */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: linear-gradient(
    180deg,
    #222222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    #201e1e 100%
  );
  --bg-secondary: black;
  --bg-3rd: #181818;
  --bg-hover: #303030;
  --primary: #ffffff;
  --secondary: #1db954;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  color: var(--primary);
}
/* --------------- main --------------- */
main {
  display: flex;
  background: var(--bg);
  font-size: 19px;
  font-weight: 700;
}

/* --------------- sidebar --------------- */
#sidebar {
  background-color: var(--bg-secondary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sidebar > a {
  text-decoration: none;
  color: var(--primary);
  margin: 1rem 20px;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  text-transform: capitalize;
  flex-wrap: nowrap;
}
#sidebar > a:hover {
  background-color: var(--bg-hover);
}

.active-tab {
  background-color: var(--bg-hover);
}

#sidebar > a > svg {
  margin-right: 24px;
}

/* --------------- Home page --------------- */
#home {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}

#hero {
  height: 220px;
  background-image: url("/SL.123119.26540.04.jpg");
  background-size: cover;
  padding: 4rem;
  font-size: 2.7rem;
}

#hero > p {
  width: max-content;
}

#hero > p > span {
  display: block;
  font-size: 2.3rem;
  text-align: right;
}
/* --------------- releases --------------- */
.album-list {
  padding: 1rem 2.5rem;
  flex: 1 1 0;
}

.album-list .headline-cont {
  display: flex;
  align-items: center;
}

.album-list .headline-cont h3 {
  font-size: 1.2rem;
}

.album-list .headline-cont .line {
  background-color: #777;
  height: 1px;
  flex: 1 1 0%;
  margin: 0 1rem;
}
.album-list .headline-cont .conrolers-cont svg {
  margin: 0 8px;
  cursor: pointer;
}
.album-list .albums-cont {
  padding: 1rem 0;
  display: flex;
  overflow-x: auto;
}
/* scroll bar */
.album-list .albums-cont::-webkit-scrollbar {
  width: 1px;
  display: none;
}
/* --------------- song --------------- */
.song {
  padding: 20px;
  background-color: #181818;
  cursor: pointer;
  margin: 0 15px;
  max-width: fit-content;
  position: relative;
}
.song:hover {
  background-color: var(--bg-hover);
}
.song > svg {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
}
.hidden {
  visibility: hidden;
}
.song:hover svg {
  visibility: visible;
}
.song > div {
  width: 150px;
  height: 150px;
  border-radius: 14px;
  overflow: hidden;
}

.song > div > img {
  width: 100%;
}

.song > h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1.5rem 5px 0;
  max-width: 170px;
  text-align: center;
}
/* --------------- Search page --------------- */
#search {
  flex: 1 1 0;
  padding: 2rem;
}
#search .search-bar {
  background: var(--bg-3rd);
  width: 100%;
  padding: 1rem;
  border-radius: 24px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 15px 0px #333;
}
#search .search-bar input {
  all: unset;
  flex: 1 1 0;
}
#search .search-bar svg {
  margin: 0 1rem;
}
#search .seacrh-results {
  margin: 2rem 0.5rem;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
#search .seacrh-results .search-item {
  all: unset;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  padding: 1rem;
  font-size: 14px;
  width: max-content;
  margin: 10px;
  cursor: pointer;
}
#search .seacrh-results .search-item:active {
  background-color: var(--bg-hover);
}
/* --------------- Search Results Page --------------- */
#search-results {
  flex: 1 1 0;
  height: 100vh;
  padding: 2rem;
  overflow-y: auto;
}
/* --------------- favourites --------------- */
#favourites {
  flex: 1 1 0;
  height: 100vh;
  padding: 2rem;
  overflow-y: auto;
}
