@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* ---------------------------------------- Globals ---------------------------------------- */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: linear-gradient(
    180deg,
    #222222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    #201e1e 100%
  );
  --bg-solid: #303030;
  --bg-secondary: black;
  --primary: #ffffff;
  --secondary: #1db954;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  color: var(--primary);
}

/* --------------- sidebar --------------- */
#sidebar {
  background-color: var(--bg-secondary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

#sidebar > div {
  margin: 1rem 0;
  cursor: pointer;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 6px;
  text-transform: capitalize;
}

#sidebar > div:hover {
  background-color: var(--bg-solid);
}

.active-tab {
  background-color: var(--bg-solid);
}

#sidebar > div > a > svg {
  margin-right: 24px;
}

/* --------------- main --------------- */
main {
  display: flex;
  background: var(--bg);
  width: 100vw;
  font-size: 19px;
  font-weight: 700;
}
